* {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  text-align: center;
}
